name: Generate Space Shooter Contribution Graph

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Generate Space Shooter SVG
        uses: lowlighter/metrics@latest
        with:
              token: ${{ secrets.GITHUB_TOKEN }}
              user: ${{ github.repository_owner }}

              template: terminal
              base: ""
              config_timezone: Asia/Kolkata
            
              plugin_isocalendar: yes
              plugin_isocalendar_duration: full-year
